<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store app</title>
      <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="main"><%- markup -%></div>
    
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script src="/js/autocomplete.js"></script>
      <script src="/js/script.js"></script>
    <script src="/js/bundle.js" type="text/javascript"></script>
  </body>
</html>
