/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

html {
  color: #030303;
  font: caption;
  padding-bottom: 2em;
}

a {
  color: #1f4ba0;
  text-decoration: underline;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}


/* Autocomplete CSS */
.autocomplete {
    display: -ms-flexbox;
    display: flex;
}
.autocomplete .ac-users {
    padding-top: 10px;
}
.autocomplete .ac-users .chip {
    -ms-flex: auto;
    flex: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}
.autocomplete .ac-users .chip:last-child {
    margin-right: 5px;
}
.autocomplete .ac-dropdown .ac-hover {
    background: #eee;
}
.autocomplete .ac-input {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    padding-top: 0.6rem;
}
.autocomplete .ac-input input {
    height: 2.4rem;
}
 /* End Autocomple CSS */
.nav-favourite {
  top:15px;
  font-size: 20px;
}


.searchpage *{
  z-index: 1;
}

/* Product page */
.product {
  padding: 30px;
}
.product .name {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}
.product .price {
  padding: 10px 0;
  font-size: 15px;
}
.product .description {
  padding: 20px 0;
  font-size: 15px;
}

/* Product List */
.productfav{
  cursor: pointer;
}
.starred {
  color: orange;
}